.env
app copy.py
brudnopis.ipynb
df_2024_cleaned.csv
df_reduced_2024_copy.csv
df_reduced_2024.csv
EDA copy.ipynb
EDA.ipynb
EDA2023.ipynb
EDA2024.ipynb
EDAThisIsIt.ipynb
halfmarathon_wroclaw_2023__final.csv
halfmarathon_wroclaw_2024__final.csv
Ibiza Baby.mp3
logs.log
wypracowany_df_2024_cleaned.csv
wypracowany_df_2024_converted.csv
wypracowany_df_2024.csv